<%= render('header') %>

<% @notes.each do |note| %>
  <%= render('note', {note: note}) %>
<% end %>

<div class='menu'>
  <%= render('day_menu', {target_dates: @dates_from..@dates_to}) %>
  <%= render('month_menu', {date: @dates_from}) %>
</div>

<%= render('footer', {date: @dates_from}) %>
